---
- name: Install fail2ban.
  apt: name=fail2ban state=latest
- name: Copy fail2ban configuration.
  copy: src=jail.local dest=/etc/fail2ban/jail.local
- name: Restart fail2ban service.
  service: name=fail2ban state=restarted enabled=yes
